@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* *{
    border: 1px solid red;
}     */

body {
    margin: 0;
    padding: 0;
}

.navbar {
    z-index: 9999;
    background-color: rgb(80, 78, 78);
    padding: 1em 3em 2em;
    border-bottom: 1px solid white;
    border-width: 80%;
}


.content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #393E46;
    padding: 1em 3em 3em;
    position: relative;
    z-index: 2;

}

.content::after {

    content: "";
    background: rgb(0, 0, 0);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.head {
    color: white;
    text-align: center;
    position: relative;
    z-index: 0;

}



.head h1 {
    font-size: 2em;
    font-family: 'Roboto Mono', monospace;
}

.head h2 {
    font-size: 1.6em;
    margin: 2em auto;
    font-family: 'Roboto Mono', monospace;
}


.head2 {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    margin-bottom: 6em;
}

.content h3 {
    color: white;
    text-align: center;
    margin: 12px auto auto;
    font-size: 1.4em;
}

.head2 a {
    text-decoration: none;
}

.content .head2 .btn {
    transition: 0.4s;
    background-color: rgb(77, 77, 77);
    border: 1px solid white;

    color: white;
    margin: auto;


}

.content .head2 .btn:hover {
    background-color: white;
    color: rgb(77, 77, 77);
    transition: 0.4s;
}

.text {
    margin: 3em;
}

.text h3 {
    text-align: center;
    margin: 3em auto;
}

.text ul {
    margin: 3em auto;
}

.text ul li {
    text-align: start;
    font-size: 1.3em;
}

.text p {
    font-size: 1.3em;
    text-align: center;
}

footer {

    width: 100%;
    padding: 3em;
    bottom: 0;
    left: 0;
}

footer h3 {
    font-size: 1em;
    color: rgb(156, 153, 153);
    margin: 1em auto;
}

@media only screen and (max-width: 768px) {
    .content {
        padding: 1em 2em 2em;
        height: 130vh;
        background-image: url("/images/linkedin_banner_image_1.png");
        background-position: center calc(100% - 150px);
    }

    .navbar {
        z-index: 9999;
    }

    .head {

        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .head h2 {
        width: 100%;
    }

}